
.racer_table td {
  background-color: white;
  width: 5em;
  border: dotted black 1px;

}

.racer_table td.active {
  background-color: blue;
  border-radius: 10px;
}

.racer_table td.active2 {
  background-color: red;
  border-radius: 10px;

}

tr {
  height: 3em;
}

table {
}
