

  <form id="horse-form" method="post" action="/horses">
  <table>
  <tr>
    <td>
      <input type="text" name="horse[name]" value="<%= @horse.name %>">
      <input type="text" name="horse[age]" value="<%= @horse.age %>">
      <input type="text" name="horse[breed]" value="<%= @horse.breed %>">
      <input type="submit" value="PONY UP">
  </td>
</tr>
<tr>
  Name Age Breed
</tr>
</table>

  </form>

